<!---link to style sheet-->
<link rel="stylesheet" href="health-dashboard.component.css">
<!--landing page -->
<body> 
<div class="navbar">
    <h1>Better Health</h1>
    <ul>
        <li><a href="login_page_url_here">Login</a></li>
        <li><a href="signup_page_url_here">Sign Up</a></li>
    </ul>
</div>

<div class="container">
    <h1><span>Better Health</span> Dashboard</h1>
    <h2>Welcome to <span>Better Health</span> where we help you prioritize your health</h2>
    <div class="grid">
        <div class="card green">
            <h2>Heart Rate</h2>
            <p>Current: 80 bpm</p>
            <p>Average: 75 bpm</p>
        </div>
        <div class="card red">
            <h2>Blood Pressure</h2>
            <p>Current: 120/80 mmHg</p>
            <p>Average: 125/85 mmHg</p>
        </div>
        <div class="card blue">
            <h2>Steps Count</h2>
            <p>Today: 7500 steps</p>
            <p>Goal: 10000 steps</p>
        </div>
    </div>
    <div class="button-container">
        <button routerLink="/vital-signs">View Vital Signs</button>
        <button routerLink="/add-vital-sign">Add Vital Sign</button>
    </div>
    
     
    <div class="tip-bubble">
        <div class="health-tips">
            <h3>How To Stay Healthy</h3>
            
            <p>Stay hydrated by drinking plenty of water.<br>
            Eat a balanced diet rich in fruits, vegetables, and whole grains.<br> 
            Get regular exercise to maintain a healthy weight and boost your immune system.<br>
            Get enough sleep each night to allow your body to rest and recharge.<br>
            Manage stress through relaxation techniques such as deep breathing or meditation.</p>
        </div>
    </div>
</div>    

</body>

 

<footer>
    &copy; 2024 Khanyisa Mokgolobotho full stack development Health Monitoring System project
</footer>


